extends layout

block content
  h1= title
  p Welcome to #{title}
  p This are the availabre routes to use in the API:
  ul
    li [POST] /user
    li [GET] /article?tags=CLOTHES,SPORT
    li [PUT] /article/id
    li [DELETE] /article/id
